.nav{
    width: 50%;
    height: 50px;
    background-color:#002fa7;
    color: bisque;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-left: 50%;
}

.nav-sections{
    margin-top: 12px;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: aqua;
    line-height: 1em;
    display: inline-block;
    border-radius: 9px;
    padding: 12px;
    
}
a:hover{
    color: green;
    transform: scale(1.1);
}